<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAG</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<style>
    .logo {
        width: 100px;
        height: 80px;
    }
</style>


<body>

    <nav class="navbar navbar-light" style="background-color: #0c151d;">



        <div class="contenedor_logo">
            &nbsp&nbsp&nbsp
            <H1 style="background-color: #95999c; padding: 3px;border-radius: 5px;"> <b> &nbsp SAG &nbsp</b> </H1>
        </div>

        {% if messages %}
            {% for message in messages %}
            <div class="notification {{message.tags}}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif  %}
    </nav>


    <div id="contenido">

        {% block content %}

        {% endblock %}


    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="js/menu.js"></script>

    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                mode: 'fade',//horizontal, vertical, fade
                auto: true,
                pause: 2000
            });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


</body>


</html>