{% extends "app/base.html" %}

{% block content %}

{% load static %}
<style>
    .image-thumbail {
        height: 200px;
        object-fit: cover;
    }

    .list-group-item a {
        text-decoration: none;
        color: black;
    }

    .slider {
        width: auto;
        height: auto;
    }

    .container {
        width: 800px;
    }

    .card {
        width: 800px;
    }

    .col-md-3 {
        width: 800px;
    }
                            
    .company {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .company img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .company-info {
        display: flex;
        flex-direction: column;
    }
    /* Estilos CSS para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
        
                            /* Estilos CSS para el dashboard */
        .chartContainer {
            width: 400px;
            height: 400px;
            margin: 0 auto;
        }

                        
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            &nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp
            <h1>
                <b>
                    <p> Bienvenido a Sistema de Auditoría General</p>
                </b>
            </h1>
            <div class="card">
                <div class="card-header">
                    Empresas
                </div>
                <ul class="list-group list-group-flush" class="btn btn-secondary active">
                    <li class="list-group-item">
                    
                    <body>
                    
                        <!-- Tesla -->
                        <div class="company">
                            <img src = "{% static 'logos/tesla.jpg' %}" alt="Tesla Logo">
                            <div class="company-info">
                                <h2>Tesla Inc.</h2>
                                <p>Sector: Automotriz y Energía</p>
                                <!-- Otras métricas o información relevante -->
                                Tesla es una empresa líder en la fabricación de vehículos eléctricos y soluciones de almacenamiento de energía. Fundada
                                por Elon Musk en 2003, Tesla ha revolucionado la industria automotriz con modelos como el Tesla Model S, Model 3 y Model
                                X. Además, Tesla se ha involucrado en proyectos de energía renovable, como la fabricación de paneles solares y baterías
                                para el hogar.
                            </div>
                        </div>
                    
                        <!-- Amazon -->
                        <div class="company">
                            <img src= "{% static 'logos/Amazon.png' %}" alt="Amazon Logo">
                            <div class="company-info">
                                <h2>Amazon.com Inc.</h2>
                                <p>Sector: Comercio Electrónico y Tecnología</p>
                                <!-- Otras métricas o información relevante -->
                                Amazon es una de las empresas de comercio electrónico más grandes y reconocidas a nivel mundial. Fundada por Jeff Bezos
                                en 1994, Amazon comenzó como una librería en línea y ha diversificado su oferta para incluir una amplia gama de
                                productos y servicios, como electrónica, contenido digital, servicios de transmisión, computación en la nube (Amazon Web
                                Services) y más.
                            </div>
                        </div>
                    
                        <!-- Procter & Gamble -->
                        <div class="company">
                            <img src= "{% static 'logos/P&G.png' %}" alt="Procter & Gamble Logo">
                            <div class="company-info">
                                <h2>Procter & Gamble Co.</h2>
                                <p>Sector: Productos de Consumo</p>
                                <!-- Otras métricas o información relevante -->
                                Procter & Gamble, también conocida como P&G, es una empresa multinacional que se dedica a la fabricación y
                                comercialización de una amplia variedad de productos de consumo. La empresa cuenta con marcas reconocidas en todo el
                                mundo, como Gillette, Pampers, Pantene, Ariel, Oral-B y muchas otras, abarcando categorías como cuidado personal,
                                cuidado del hogar, cuidado de bebés y cuidado de la salud.
                            </div>
                        </div>
                    
                        <!-- Alphabet -->
                        <div class="company">
                            <img src="{% static 'logos/Alpha.png' %}"alt="Alphabet Logo">
                            <div class="company-info">
                                <h2>Alphabet Inc.</h2>
                                <p>Sector: Tecnología</p>
                                <!-- Otras métricas o información relevante -->
                                Alphabet es una empresa matriz que se creó en 2015 para agrupar a Google y a otras compañías relacionadas. Google, la
                                empresa más conocida dentro del grupo, es líder en el campo de los motores de búsqueda en Internet y publicidad en
                                línea. Además, Alphabet se ha expandido a otras áreas, como la inteligencia artificial, los vehículos autónomos (a
                                través de Waymo) y las inversiones en empresas emergentes (a través de GV y CapitalG).
                            </div>
                        </div>
                    
                        <!-- Johnson & Johnson -->
                        <div class="company">
                            <img src= "{% static 'logos/J&J.jpg' %}" alt="Johnson & Johnson Logo">
                            <div class="company-info">
                                <h2>Johnson & Johnson</h2>
                                <p>Sector: Farmacéutico y Cuidado de la Salud</p>
                                <!-- Otras métricas o información relevante -->
                                Johnson & Johnson es una compañía multinacional que se dedica a la fabricación y venta de productos farmacéuticos,
                                dispositivos médicos y productos para el cuidado de la salud y el bienestar. La empresa cuenta con una amplia cartera de
                                marcas reconocidas, incluyendo productos como Band-Aid, Neutrogena, Tylenol, Listerine y muchos otros. Además, Johnson &
                                Johnson está involucrada en la investigación y desarrollo de medicamentos y tratamientos innovadores.
                            </div>
                        </div>
                    </body>
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp

                    <body>
                        <body>
                            <h1>Tabla de Datos</h1>
                        
                            <table>
                                <thead>
                                    <tr>
                                        <th>Empresa</th>
                                        <th>Sector</th>
                                        <th>Calificador de Riesgos</th>
                                        <th>Tipo de Riesgos</th>
                                        <th>Ponderación de Calificación</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tesla Inc.</td>
                                        <td>Automotriz y Energía</td>
                                        <td>AAA</td>
                                        <td>Riesgo de mercado, riesgo operativo</td>
                                        <td>8.2</td>
                                    </tr>
                                    <tr>
                                        <td>Amazon.com Inc.</td>
                                        <td>Comercio Electrónico y Tecnología</td>
                                        <td>AA</td>
                                        <td>Riesgo cibernético, riesgo competitivo</td>
                                        <td>7.8</td>
                                    </tr>
                                    <tr>
                                        <td>Procter & Gamble Co.</td>
                                        <td>Productos de Consumo</td>
                                        <td>A</td>
                                        <td>Riesgo de demanda, riesgo regulatorio</td>
                                        <td>7.5</td>
                                    </tr>
                                    <tr>
                                        <td>Alphabet Inc.</td>
                                        <td>Tecnología</td>
                                        <td>AA+</td>
                                        <td>Riesgo de privacidad, riesgo de innovación</td>
                                        <td>8.5</td>
                                    </tr>
                                    <tr>
                                        <td>Johnson & Johnson</td>
                                        <td>Farmacéutico y Cuidado de la Salud</td>
                                        <td>AAA</td>
                                        <td>Riesgo de litigio, riesgo de seguridad del producto</td>
                                        <td>9.5</td>
                                    </tr>
                                </tbody>
                            </table>
                    </body>
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp
                    
                    <body>
                        &nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp
                        <h1> Riesgos</h1>
                    
                        <div id="chartContainer">
                            <canvas id="riskChart"></canvas>
                        </div>
                    
                        <script>
                            // Datos de ejemplo de las empresas
                            var companies = [
                                {
                                    name: "Tesla Inc.",
                                    sector: "Automotriz y Energía",
                                    risk: "AAA",
                                    riskType: "Riesgo de mercado, riesgo operativo",
                                    rating: 8.2
                                },
                                {
                                    name: "Amazon.com Inc.",
                                    sector: "Comercio Electrónico y Tecnología",
                                    risk: "AA",
                                    riskType: "Riesgo cibernético, riesgo competitivo",
                                    rating: 7.8
                                },
                                {
                                    name: "Procter & Gamble Co.",
                                    sector: "Productos de Consumo",
                                    risk: "A",
                                    riskType: "Riesgo de demanda, riesgo regulatorio",
                                    rating: 7.5
                                },
                                {
                                    name: "Alphabet Inc.",
                                    sector: "Tecnología",
                                    risk: "AA+",
                                    riskType: "Riesgo de privacidad, riesgo de innovación",
                                    rating: 8.5
                                },
                                {
                                    name: "Johnson & Johnson",
                                    sector: "Farmacéutico y Cuidado de la Salud",
                                    risk: "AAA",
                                    riskType: "Riesgo de litigio, riesgo de seguridad del producto",
                                    rating: 9.5
                                }
                            ];

                            // Obtener los calificadores de riesgos únicos
                            var uniqueRisks = [...new Set(companies.map(company => company.risk))];

                            // Obtener la cantidad de empresas por calificador de riesgos
                            var riskCount = uniqueRisks.map(risk => companies.filter(company => company.risk === risk).length);

                            // Configuración del gráfico
                            var ctx = document.getElementById('riskChart').getContext('2d');
                            var riskChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: uniqueRisks,
                                    datasets: [{
                                        data: riskCount,
                                        backgroundColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(54, 162, 235)',
                                            'rgb(75, 192, 192)',
                                            'rgb(255, 205, 86)',
                                            'rgb(153, 102, 255)'
                                            // Otros colores
                                        ]
                                    }]
                                },
                                options: {
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    legend: {
                                        position: 'right'
                                    }
                                }
                            });
                        </script>
                    </body>

                    <div>Precisión del modelo: </div> <button><b><a href='prediccion_probabilidad'> Modelo </a></b><br></button>
                    
                

                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}